config.log
config.status
custom.h
main.mk
Makefile
Makefile.common
ports.all
ports.build
sdccconf.h
bin/
device/lib/*/
sdas/
src/**/*y.*
src/**/*lex.*
src/**/*.o
src/**/*.a
src/**/*.rul
*.dep
support/
version.h
